<h1 id="all_users_heading">All users page</h1>

<% @user.each do |user|%>
    <p>Name: <a href='see_user/<%=user.id%>'> <%="#{user.fname}"%> </a> <%=" #{user.lname}, location: #{user.profile.location}, email: #{user.email}" %></p>
<% end %>