loggedin: <%= @user.fname %>
<br>

<form method ="POST" action="/blog">
  <label for ="textbox">Make a post</label>
    <textarea rows="4" cols="50" id="textbox" name="[post]body"></textarea>
    <input type='submit' />
</form>
<a href="/posts">See your posts </a>
<br>
<a href="/profile">See your profile</a>
