<h1>Welcome to Bitter!</h1>
<h5>Please Login</h5>

<!--login form-->
<form id="login_form" method="POST" action="/sign-in">
<label for="email">Email</label>
<input type="text" id='email' name="email">
<label for="password">Password</label>
<input type="password" id='password' name="password">
<input id="login_button" class="btn btn-primary" type="submit">
</form>

<a href="/register">Make an Account</a>

