<h1>Hello</h1>
<form method="POST" action="/sign-in">
 <label for="email">Email</label>
 <input type="text" id='email' name="email">
 <label for="password">Password</label>
 <input type="password" id='password' name="password">
 <input type="submit">
</form>

<a href="/register">Make an Account</a>
