@import 'navBar';
// @import 'home';
@import 'register';
@import 'feed';
@import 'viewProfile';
@import 'all_users';
@import 'all_posts';


h1 {
    text-align: center;
}

#wrap {
    border: 3px solid rgba(128, 128, 128, 0.5);
    padding: 40px;
    text-align: center;
}