<h2>Edit Post</h2>
<br/>
<form action="/posts/<%= @post.id %>" method="POST">
 <div>
  <label for="post_body">Body:</label>
  <br>
  <textarea id="post_body" name="post[body]" rows="5"><%= @post.body %></textarea>
 </div>
  <button type="submit">Submit</button>
</form>

<form action="/posts/<%=@post.id %>/delete" method="Post">
<button>Delete Post</button>
</form>